# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules
dist
.env

.vscode/
.idea/
.DS_Store

build
backend/prisma/migrations/20250402114811_add_user_model/migration.sql
.gitignore
.gitignore
backend/prisma/migrations/20250402121154_remove_user_table/migration.sql
backend/prisma/migrations/20250402121434_add_user_table/migration.sql

backend/prisma/migrations/20250402112957_add_user_model/migration.sql
